$color-black: #000;

//blue
$color-lightest-blue: #b5e0ff;
$color-white-blue: #e3faff;
$color-light-blue: #6abffc;
$color-dark-blue: #0a347a;
$color-darkest-blue: #031a40;
$color-rgba-dark: rgba(3, 26, 64, 1);
$color-rgba-light: rgba(106, 191, 252, 1);
// $grey-blue: rgba(32, 48, 105);
//
// $fontcolor: rgba(206, 219, 237);
//teal
$color-light-teal: #02c4c7;
$color-dark-teal: #096466;


//browns
$color-light-brown: #d6a36f;
$color-light-medium-brown: #a88256;
$color-dark-brown: #73614c;
$color-rgba-brown: rgba(214, 163, 111, 1);


//greens
$color-light-green: #b7eb8a;
$color-dark-green: #114225;
$color-darkest-green: #0f3612;




$default-font-size: 1.6rem;
