.container {
    display: grid;
    grid-template-rows: 70vh min-content 45vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 28rem)[col-end])[center-end] minmax(6rem, 1fr) [full-end];


}
