.story {
    &__pictures {
        background-color: $color-light-medium-brown;
        grid-column: full-start / col-end 3;
    }

    &__content {
        background-color: $color-dark-blue;
        grid-column: col-end 3 / full-end;
    }
}
